@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap');



/* @font-face {
    font-family: uni;
    src: url(../fonts/unineue/UniNeue-Light.otf);
    font-family: ail;
    src: url(../fonts/aileron/Aileron-Regular.otf);

} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.5rem;
}

html {
    font-size: 62.5%;
}
body {
    background: #F7F8FA;
}
h1,h2,h3,h4,h5,h6,a,p {
    font-family: 500;
}
a {
    color: inherit;
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
}


.orange {
    color: orange;
}
.blue {
    color: blue;
}


:root {
    ---color---: #ed143d;
}




 /* ============== header =============== */

.One_header {
    background: #F7F8FA;
}
.header_line{
    padding: 0.7rem 0;
}
.Support {
    margin-left: 2rem;
}
.header_line a,
.header_line a span{
    margin-left: 0.5rem;
    color: #000;
}
.header_line i {
    cursor: pointer;
    color: #fe0101;
    font-size: 1.7rem;
}






 /* ============== navbar =============== */



 .navbar_head {
    background: #fff;
    padding: 1rem 0;
    position: sticky;
    top: -0.1rem;
    z-index: 100;
}
.navbar_head .container {
    background: #fff;
}
.navbar_search,
.navbar_ikon {
    text-align: center;
    justify-content: flex-end;
}
.navbar_search input {
    height: 3rem;
    font-size: 1.5rem;
}

.navbar_search {
    border: 1px solid var(---color---);
    background: var(---color---);
    border-radius: 0.5rem;
}
.navbar_search button {
    border: var(---color---);
    width: 10%;
}
.navbar_search button:hover {
    background-color: var(---color---);
}
.navbar_search button i {
    color: #fff;
}
.navbar_head ul li.nav-item {
    cursor: pointer;
    margin-left: 1.8rem;
    padding: 0.5rem;
    border-radius: 9999px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}
.navbar_head ul .nav-item {
    position: relative;
}

.navbar_head ul li.nav-item i {
    color: #000;
    display: block;
}


 /* ============== navbar_modail =============== */

 .modail #offcanvasTop {
    height: 70vh;
 }
.modail .Login_button {
    font-size: 3rem;
    width: 90%;
    height: 7rem;
    color: tomato;
    border: 2px solid;
    border-radius: 1rem;
    background-color: #fff2f1;
}
.modail .flex.p-6.pb-2 {
    margin: 0 auto;
    width: 100%;
}
.modail button.btn-close.text-reset {
    font-size: 4rem;
    border: 1px solid black;
}
.modail .SideBar__SideNav a {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff2f1;
    transition: 0.5s ease;
}
.modail .SideBar__SideNav a:hover {
    background-color: #fff2f1;
}
.modail .SideBar__SideNav a i {
    margin: 1rem 6rem;
    font-size: large;
}
.modail .SideBar__SideNav a span {
    font-size: large;
}
.modail .SideBar__SideNav a .Img {
    width: 15%;
    margin: 10px 0 0 6rem;
}
.modail .SideBar__SideNav a .Img img {
    width: 100%;
}




 /* ============== min_navbar =============== */

.min_navbar {
    background: #1a202c;
    position: sticky;
    top: 63px;
    z-index: 99;
}

.min_navbar .navbar_left {
    background: var(---color---);
    height: 4rem;
}
.min_navbar .navbar_left a {
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.min_navbar .navbar_left a i {
    margin: 1rem 2rem;
    font-size: 1.6rem;
}


.min_navbar ul li a {
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    letter-spacing: 1px;
}
.navbar_midil ul {
    justify-content: space-evenly;
    display: flex;
}
.navbar_midil ul li a {
    position: relative;
    margin: 0 0.8rem;
}
.navbar_midil ul li a:hover {
    color: #fff;
}

.navbar_midil ul li a::after {
    content: '';
    height: 0.2rem;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
.navbar_midil ul li a:hover::after {
    width: 100%;
}


.navbar_right .collapse .nav-item .dropdown-menu {
    top: 100%;
    background: #1a202c;
}
.navbar_right .collapse{
    justify-content: flex-end;
}

/* ========================= head_layouts ====================== */

.head_layouts {
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}
.navButton {
    opacity: 1;
    pointer-events: auto;
}
.ProductCarousel {
    display: flex;
    position: absolute;
    width: 90%;
} 
.ProductCarousel_left {
    background-color: #fff;
}
.head_layouts .ProductCarousel_left ul {
    padding-left: 0;
}
.head_layouts .ProductCarousel_left ul li {
    border: 0.5px solid #f1f1f1;
    transition: 0.3s ease;
}
.head_layouts .ProductCarousel_left ul li:hover {
    background: #edf2f7;
}

.head_layouts .ProductCarousel_left .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.head_layouts .ProductCarousel_left .flex span {
    font-size: 1.4rem;
    margin-left: 1rem;
}

.head_layouts .ProductCarousel_left .flex i {
    color: #212529;
    font-size: 1.4rem;
    margin-right: 1rem;
}
.Submenu_mine {
    z-index: 3;
    display: none;
    position: absolute;
    left: 22%;
    top: -1px;
    margin-left: 10px;
    min-width: 500px;
    height: 100%;
    overflow: auto;
    background: #edf2f7;
    box-shadow: 0 1px 5px #e7e7e7;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
}

.head_layouts .ProductCarousel_left ul li:hover .Submenu_mine {
    display: block;
}
.Submenu_mine .Submenu_list {
    margin: 20px 20px 0;
    width: 600px;
}
.Submenu_mine .Submenu_list .Submenu_litle {
    float: left;
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
    width: 50%;
    height: 250px;
}
.Submenu_mine .Submenu_list .Submenu_litle .level-one-title {
    display: table-cell;
    vertical-align: middle;
    height: 48px;
    font-weight: 700;
    line-height: 16px;
    color: #2192D9;
    font-size: 1.6rem;
}
.Submenu_mine .Submenu_list .Submenu_litle .level-two-title {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Submenu_mine .Submenu_list .Submenu_litle .view-more {
    color: #999;
    font-size: 1.3rem;
}
.Submenu_mine .Submenu_list .level-two-title:hover, .Submenu_mine .Submenu_list .level-one-title:hover {
    color: var(---color---);
}
.Submenu_mine .Submenu_list .Submenu_litle .view-more:hover {
    color: var(---color---);
    text-decoration: none;
}












/* ========================= Login body ====================== */
.login {
    text-align: center;
    margin: 8rem 0 3rem 0;
    
}

.loginBody {
    background: #fff;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ced4da;
}
.loginBody form {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.bodyhead {
    padding: 2rem 0;
    border-bottom: 1px solid #cbcbcb;
}
.loginBody .bodyhead h2 {
    font-size: 3rem;
}
.loginBody .LabelInput {
    margin: 1.5rem;
}
.loginBody .LabelInput .form-control {
    height: 5rem;
    border-radius: 8px;
    font-size: 1.5rem;
}
.loginBody .LabelInput .btn {
    height: 4rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    background: var(---color---);
    border: 1px solid var(---color---);
    display: grid;
    place-content: center;
}
.loginBody p span a:hover {
    text-decoration: underline;
    color: crimson;
}
.loginBody .LabelInput #loader {
    pointer-events: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    border-left-color: #fff;
    animation: loader 1s ease infinite;
}


@keyframes loader {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}















/* ========================= POPUP_STYLE ====================== */
.navbar-light .navbar-nav {
    margin-left: auto;
}



.offcanvas-body {
    display: flex;
    align-content: stretch;
    align-items: center;
    justify-content: space-evenly;
}
div#offcanvasRight {
    background: black;
    color: #fff;
}





.NotificationAllPoup {
    z-index: 100;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000033;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
}
.Popup_Notification_Show { 
    position: absolute;
    top: 9.5rem;
    right: 2rem;
    width: 40rem;
    height: auto;
}
.Popup_Notification_Show .Notification_head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #dddddd;
    padding: 1rem 0;
}
.Popup_Notification_Show .Notification_head .General,
.Popup_Notification_Show .Notification_head .News-feed {
    border: none;
    background: none;
    color: #7e7c7c;
    font-weight: 600;
}
.Popup_Notification_Show .Notification_head .General:focus,
.Popup_Notification_Show .Notification_head .News-feed:focus {
    border-bottom: 3px solid var(---color---);
    color: var(---color---);
}
.Loading {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}







.SmsAllPoup{
    z-index: 100;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000033;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
}

.Popup_sms_show {
    position: absolute;
    top: 9.5rem;
    right: 2rem;
    width: 40rem;
    height: auto;
}
 .Popup_sms_show .Chat_head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #dddddd;
    padding: 1rem 0;
}
.Popup_sms_show .Chat_head .Chat,
.Popup_sms_show .Chat_head .Invit {
    border: none;
    background: none;
    color: #7e7c7c;
    font-weight: 600;
}

.Popup_sms_show .Chat_head .Chat:focus,
.Popup_sms_show .Chat_head .Invit:focus {
    border-bottom: 3px solid var(---color---);
    color: var(---color---);
}
.Popup_sms_show .chat-list {
    height: 300px;
    overflow-y: scroll;
}
.Popup_sms_show .chat-list h3 {
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
}
.Popup_sms_show .chat_btn {
    background: none;
    color: crimson;
    border: 1px solid crimson;
    border-radius: 6px;
    width: 9rem;
    transition: .5s ease;
}
.Popup_sms_show .chat_btn a {
    font-size: 1.7rem;
    color: var(---color---);
}.Popup_sms_show .chat_btn:hover {
    background: var(---color---)
}
.Popup_sms_show .chat_btn:hover a {
    color: #ffffff;
}







.LoginAllPoup {
    z-index: 100;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000033;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
}
.popup-show {
    position: absolute;
    top: 9.5rem;
    right: 2rem;
    width: 24rem;
    height: auto;
}
.popupShow {
    display: block;
}
 h5.modal-title {
    color: var(---color---);
    font-size: 1.7rem;
}
.navbar-nav .modal-header {
    background: #e1e1e1;
}


.popup-show form label {
    float: left;
    font-size: 1.4rem;
}
.popup-show form input {
    font-size: 1.3rem;
}
 #popup-show p {
    font-size: 1.4rem;
}
button.loginButton {
    height: 3.5rem;
    background: var(---color---);
    border-radius: 6px;
    border: 1px solid var(---color---);
    color: #fff;
}
 .popup-show p a {
    color: var(---color---);
}
 .popup-show p a:hover {
    text-decoration: underline;
}

.show {
    opacity: 1;
    pointer-events: auto;
}








/* ========================= footer ====================== */
.all_footer {
    margin-top: 3rem;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    background: rgb(51, 62, 79);
    color: rgb(156, 169, 190);
}
.all_footer .footer_1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.all_footer .card {
    border: none;
    background: #333e4f;
}
.footer_1 .card-header {
    font-size: 2rem;
    background: #333e4f;
    color: #bbbdbf;
    font-weight: 700;
}
.footer_1 .card .Icon {
    display: flex;
}
.footer_1 .card li {
    border: none;
    background: #333e4f;
    color: currentcolor;
    font-weight: 600;
}
.footer_1 .card .Contact {
    background: #a0aec0;
    color: #443044;
} 
.footer_1 .card .Icon img {
    opacity: .7;
    transition: .3s ease;
}
.footer_1 .card .Icon li:hover img {
    opacity: 1;
}

.footer_2 {
    text-align: center;
    background: rgb(51, 62, 79);
    color: #98a9be;
    border-top: 1px solid #4e4e4e;
}
.footer_2 p {
    margin: 2rem 0 4rem 0;
    font-size: 2rem;
}


















/* ========================= MOBILE ====================== */
@media (max-width: 991px) {

    html {
        font-size: 55%;
    }



    .min_navbar .navbar_left a {
        font-size: 2rem;
    }

    .min_navbar .navbar_left a i {
        margin: 1rem 1rem;
        font-size: 2rem;
    }



  }






  @media (max-width: 768px) {

    html {
        font-size: 45%;
    }


/* ========================= One_header ====================== */
    .One_header {
        display: none;
    }

/* ========================= navbar_head ====================== */
.navbar-collapse {
    flex-basis: auto;
}
.navbar_head ul,
.navbar_logo  {
    display: none;
}
.navbar_search {
    width: 100%;
    margin: 0 1rem;
}
.min_navbar {
    display: none;
}

.ProductCarousel_left {
    display: none;
}
.navbar-collapse {
    margin-top: 1.3rem;
    height: 6.5rem;
}
.navbar_search button i {
    font-size: 2.5rem;
    color: #fff;
}
.navbar_search input {
    height: 4.6rem;
    font-size: 2rem;
}








/* ========================= Body ====================== */
.SignupBody {
    width: 100%;
}




.all_footer,
.footer_2 {
    display: none;
}






  }
